/* Imports */
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

h1, h2, h3, h4, h5, h6,
a, p, b{
    font-family: 'Pacifico', cursive;
}

.card-text{
    font-family: 'Sulphur Point', sans-serif;
}

/* Navigation Bar */

.navbar,
.navbar *{
    color: white;
}


/* Introduction */

.introduction{
    position: relative;
    height: 350px;
    background-image: url("https://wallpaperaccess.com/full/1657789.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.introduction::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.8;
}

.introduction .text{
    
    position: relative;
    top: 25%;
    text-align: center;
    color: white;
    z-index: 1;
}

/* Featured Work */
.featuredWork{
    
}
.featuredWork .card + .card{
    margin-top: 20px;
}

/* Footer */
.footer{
    position: relative;
    height: 60px;
}

.footer .container p {
    font-family: 'Sulphur Point', sans-serif;
    position: absolute;
    color: white;
    text-align: center;
    top: 20%;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Contact */
.contact{}

@media screen and (min-width : 576px){}
@media screen and (min-width : 768px){}
@media screen and (min-width : 992px){}
@media screen and (min-width : 1200px){}